<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bytehub.board.BoardDAO">
    
    <!-- 게시글 작성 -->
    <insert id="postWrite" parameterType="com.bytehub.board.BoardDTO" useGeneratedKeys="true" keyProperty="post_idx" keyColumn="post_idx">
		    INSERT INTO board (post_idx, user_id, category, subject, content, pinned, draft)
		    VALUES (#{post_idx}, #{user_id},#{category}, #{subject}, #{content}, #{pinned}, #{draft})
	</insert>
		
	<!-- 게시글 수정 -->
	<update id="postUpdate" parameterType="com.bytehub.board.BoardDTO">
    UPDATE board
    SET category = #{category},
        subject = #{subject},
        content = #{content},
        pinned = #{pinned},
        draft = #{draft},
        file_idx = #{file_idx}
    WHERE post_idx = #{post_idx}
	</update>
	
	<!-- 작성자 ID 가져오기 (post_idx 에 맞는) -->
    <select id="postWriter" parameterType="int" resultType="String">
        SELECT user_id FROM board WHERE post_idx = #{post_idx}
    </select>
    
    <delete id="postDel">
		DELETE FROM board WHERE post_idx = #{post_idx}
	</delete>
		
</mapper>