<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bytehub.board.BoardDAO">
    
    <!-- 게시글 작성 -->
    <insert id="postWrite" parameterType="com.bytehub.board.BoardDTO" useGeneratedKeys="true" keyProperty="post_idx" keyColumn="post_idx">
		    INSERT INTO board (post_idx, user_id, category, subject, content, pinned, draft)
		    VALUES (#{post_idx}, #{user_id},#{category}, #{subject}, #{content}, #{pinned}, #{draft})
	</insert>
		
	<!-- 게시글 수정 -->
	<update id="postUpdate" parameterType="com.bytehub.board.BoardDTO">
    UPDATE board
    SET category = #{category},
        subject = #{subject},
        content = #{content},
        pinned = #{pinned},
        draft = #{draft},
        file_idx = #{file_idx}
    WHERE post_idx = #{post_idx}
	</update>
	
	<!-- 작성자 ID 가져오기 (post_idx 에 맞는) -->
    <select id="postWriter" parameterType="int" resultType="String">
        SELECT user_id FROM board WHERE post_idx = #{post_idx}
    </select>
    
    <!-- 게시글 삭제 -->
    <delete id="postDel">
		DELETE FROM board WHERE post_idx = #{post_idx}
	</delete>
		
    <!-- 게시글 전체 리스트 조회 -->
    <select id="postList" resultType="com.bytehub.board.BoardDTO">
        SELECT 
            post_idx, user_id, category, subject, content, pinned, draft, reg_date, file_idx
        FROM board
        ORDER BY 
        	pinned DESC, post_idx DESC
    </select>
    
   	<!-- 상단 고정 3개까지 ㄱㄴ -->
	<select id="cntPinned" resultType="int">
	    SELECT COUNT(*) FROM board WHERE pinned = 1
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="postDetail" parameterType="int" resultType="com.bytehub.board.BoardDTO">
		SELECT
		post_idx, user_id, category, subject, content, pinned, draft, reg_date, file_idx
		FROM board
		WHERE post_idx = #{idx}
	</select>

    <insert id="AiInsert" parameterType="com.bytehub.board.SummaryDTO">
    	insert into board_ai(summary,post_idx) values(#{summary}, #{post_idx})
    </insert>
    
    <select id="AiList" parameterType="com.bytehub.board.SummaryDTO">
    	select * from board_ai where post_idx = #{post_idx}
    </select>
    
    <update id="AiUpdate" parameterType="com.bytehub.board.SummaryDTO">
   	    UPDATE board_ai
	    SET summary = #{summary}
	    WHERE post_idx = #{post_idx}
    </update>
		
</mapper>