<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 아이디 중복 체크 -->
<mapper namespace="com.bytehub.member.MemberDAO">
    <select id="countById" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM member WHERE user_id = #{id}
    </select>

    <insert id="insertMember" parameterType="com.bytehub.member.MemberDTO">
        INSERT INTO member (
            user_id, file_idx, dept_idx, lv_idx, password, name, email, gender, hire_date
        ) VALUES (
            #{user_id}, #{file_idx}, #{dept_idx}, #{lv_idx}, #{password}, #{name}, #{email}, #{gender}, #{hire_date}
        )
    </insert>

    <!-- 회원 정보 조회 -->
    <select id="getMemberById" parameterType="String" resultType="com.bytehub.member.MemberDTO">
        SELECT 
            m.user_id, m.file_idx, m.dept_idx, m.lv_idx, m.password, m.name, m.email, m.gender, m.hire_date,
            d.dept_name,
            l.lv_name
        FROM member m
        LEFT JOIN department d ON m.dept_idx = d.dept_idx
        LEFT JOIN level l ON m.lv_idx = l.lv_idx
        WHERE m.user_id = #{user_id}
    </select>

    <select id="login" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM member 
        WHERE user_id = #{id} AND password = #{password}
    </select>

    <select id="findUserId" parameterType="Map" resultType="String">
        SELECT user_id FROM member 
        WHERE name = #{name} AND email = #{email}
    </select>

    <update id="updatePassword" parameterType="Map">
        UPDATE member 
        SET password = #{password} 
        WHERE user_id = #{user_id}
    </update>

    <update id="updateMember" parameterType="com.bytehub.member.MemberDTO">
        UPDATE member 
        SET email = #{email},
            password = #{password}
        WHERE user_id = #{user_id}
    </update>
    
    <select id="memberList">
    	select * from member m
		join level l on m.lv_idx = l.lv_idx 
		join department d on d.dept_idx  = m.dept_idx ;
    </select>
    
    <!-- 이메일 확인 -->
    <select id="findEmail" parameterType="string" resultType="string">
    SELECT email FROM member WHERE user_id = #{user_id}
	</select>
    
	<update id="memberUpdate" parameterType="com.bytehub.member.MemberDTO">
	    UPDATE member
	    SET
	        lv_idx = #{lv_idx},
	        dept_idx = #{dept_idx},
	        status = #{status},
	        hire_end_date =
	        <choose>
	            <when test="status == '퇴사'">
	                now()
	            </when>
	            <otherwise>
	                #{hire_end_date}
	            </otherwise>
	        </choose>
	    WHERE
	        user_id = #{user_id}
	</update>

	<update id="memberDelete" parameterType="com.bytehub.member.MemberDTO">
	    UPDATE member
	    SET
	        status = '퇴사',
	        hire_end_date = now()
	    WHERE
	        user_id = #{user_id}
	</update>
	    
</mapper>