<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 아이디 중복 체크 -->
<mapper namespace="com.bytehub.member.MemberDAO">
    <select id="countById" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM member WHERE user_id = #{id}
    </select>

    <insert id="insertMember" parameterType="com.bytehub.member.MemberDTO">
        INSERT INTO member (
            user_id, file_idx, dept_idx, lv_idx, password, name, email, gender, hire_date
        ) VALUES (
            #{user_id}, #{file_idx}, #{dept_idx}, #{lv_idx}, #{password}, #{name}, #{email}, #{gender}, #{hire_date}
        )
    </insert>

    <select id="getMemberById" parameterType="String" resultType="com.bytehub.member.MemberDTO">
        SELECT user_id, file_idx, dept_idx, lv_idx, password, name, email, gender, hire_date 
        FROM member 
        WHERE user_id = #{user_id}
    </select>

    <select id="login" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM member 
        WHERE user_id = #{id} AND password = #{password}
    </select>

    <select id="findUserId" parameterType="Map" resultType="String">
        SELECT user_id FROM member 
        WHERE name = #{name} AND email = #{email}
    </select>

    <update id="updatePassword" parameterType="Map">
        UPDATE member 
        SET password = #{password} 
        WHERE user_id = #{user_id}
    </update>
</mapper>