<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bytehub.schedule.SchDAO">
    <!-- 쿼리 작성 -->
    <insert id="insert" parameterType="com.bytehub.schedule.ScdDTO">
    	INSERT INTO schedule (user_id, scd_type, type_idx, subject, start_date, end_date)
		VALUES (#{user_id}, #{scd_type}, #{type_idx}, #{subject}, #{start_date}, #{end_date})
    </insert>
    
    <select id="total" resultType="com.bytehub.schedule.ScdDTO">
    	select * from schedule order by start_date
    </select>
    
    <update id="update" parameterType="com.bytehub.schedule.ScdDTO">
    	update schedule set
	    	subject = #{subject},
	    	start_date = #{start_date},
	    	end_date = #{end_date}
    	where scd_idx = #{scd_idx}
    </update>
    
    <delete id="delete">
    	delete from schedule 
    	where scd_idx = #{param1}
    </delete>
    
    <select id="today" resultType="int">
	    SELECT COUNT(subject) AS cnt
	    FROM schedule
	    WHERE NOW() &gt; start_date
	      AND NOW() &lt; end_date
	</select>
    
</mapper>